{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Mail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/userComponents/css/my_login.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'myapp/homeComponents/css/my_login.css' %}"> {% endcomment %}
    
</head>
<body>
    <div class="mainbox">
        <div id="subbox">
        <h1 id="heading">Please Complete Registration</h1><br>
            <p>Dear User,check your mail for authorization link and click on received activation link to confirm and complete the registration. <b>Note:</b> Please check your spam folder also.</p>
        </div>
    </div>
    
</body>
</html>